/*DESKTOP CSS*/

.nav { position: fixed; background-color: #58647b; width: 100%; }

.pure-menu-item a { color: #000;  }

.homeimg { width: 10%; }

.homeimg:hover { background-color: #E6E6E6; }

.other { margin-left: -65%; }

/*SECTION CSS (use to hold different sections)*/
.splash-container { padding: 5% 10% 3% 10%; }

.center { text-align: center; }

.splash-container.one { background-color: #609bc5; } 

.splash-container.two { background-color: RGBA(230, 230, 230, 1.00); }

.splash-container.three {background-color: #58647b; } 

.splash-container.four {background-color: #609bc5; }

/*.bios { display: flex }*/

/*how do I float 2 divs next*/

.splash-container h1, .splash-container h4 { text-align: center; } 

.splash-container h1 { font-size: 40pt;} 
 
.splash-container h6 { margin-top: -3%; color: RGBA(54, 49, 44, .5);}

.splash-description { padding: 4%; font-size: 20pt;}

.splash-button-home { margin-left: 23%; }

.homepl { font-size: 30pt; }

.homelogo { width: 40%; margin-left: 32%; }

.bighome { width:80%; margin-top: 3%; margin-bottom: -2%; padding-left: 10%; }

.footer { text-align: center; background-color: #52aa44; padding-top: 2%; padding-bottom: 2%; }

@media only screen and (max-width: 800px) {

	/*MOBILE CSS*/
	.homeimg { width: 15%; }

	.other { margin-left: -87%; }

	.splash-container h6 { margin-top: -8%; font-size: 14pt;}

	.splash-description { margin-top: -3%; font-size: 10pt;}

	.splash-button-home { margin-left: 16%; }

	.homepl { font-size: 10pt; padding-bottom: 5%;}

	.bighome { width:100%; margin-top: 2%; margin-bottom: 0%; padding-left: 0%; }

	.footer { padding-top: 3.7%; padding-bottom: 3.7%; }

}

@media only screen and (min-width: 1300px) {

	/*large monitors*/
	.splash-button-home { margin-left: 30%; } 


}