/*DESKTOP CSS*/

.nav { position: fixed; background }

/*SECTION CSS (use to hold different sections)*/
.splash-container { padding: 3% 10% 3% 10%; }

.splash-container.one { background-color: RGBA(240, 187, 57, .5); } 

.splash-container.two { background-color: RGBA(230, 230, 230, 1.00); }

.splash-container h1, .splash-container h6 { text-align: center; } 

.splash-container h1 { font-size: 40pt;} 
 
.splash-container h6 { margin-top: -3%; color: RGBA(54, 49, 44, .5);}

.splash-description { padding: 4%; font-size: 20pt;}

.splash-button { margin-left: 39%; }

.footer { text-align: center; }

@media only screen and (max-width: 800px) {

	/*MOBILE CSS*/
	.splash-container h6 { margin-top: -8%; font-size: 14pt;}

	.splash-description { padding: 4%; font-size: 10pt;}

	.splash-button { margin-left: 14%; }


}