/* Keep this file in the directory even if using bootstrap */
form { margin-left: 50%; margin-right: auto; }

.alert-success, .left { float: left; width: 40%; }

.alert-danger, .right { float: right; width: 40%; }

img { width: 50%; vertical-align: center; }

h1, h3, h5 { text-align: center; }

h4 { display: inline-block; text-align: center; }